@using JLPTWordbook.Services
@using Microsoft.Extensions.Options
@inject JwtAuthenticationStateProvider Auth
@inject NavigationManager Nav
@inject IOptions<OAuth2Options> Options

<AuthorizeView>
    <Authorized>
        <div @onmouseover="ShowPanel" @onmouseout="HidePanel">
            <img src="@Auth.Picture" alt="Profile" class="profile-img" />

            @if (m_ShowPanel)
            {
                <div id="@PanelId" class="user-info-panel @(m_ShowPanelVisible ? "visible" : "")">
                    <div class="summary-panel">
                        <img src="@Auth.Picture" alt="Profile" class="profile-img-large" />
                        <div class="informations">
                            <p class="user-info-name">@Auth.Name</p>
                            <p class="user-info-email">@Auth.Email</p>
                            <p class="user-info-sub">@ShortSub</p>
                        </div>
                    </div>
                    <hr />
                    <div class="functions">
                        <button onclick="@OnClick_Logout">
                            <span class="material-symbols-outlined">logout</span>
                            <span>@Strings.PROFILECARD_LOGOUT</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <a href="@m_LoginUri">@Strings.PROFILECARD_LOGIN</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool m_ShowPanel = false;
    private bool m_ShowPanelVisible;
    private int m_RequestId;
    private string m_LoginUri = null!;
    private readonly string PanelId = $"usercard-panel-{Guid.NewGuid()}";

    public string ShortSub
    {
        get
        {
            var sub = Auth.Sub;
            if (sub == null)
            {
                return string.Empty;
            }

            return sub[..24] + "...";
        }
    }

    protected override void OnInitialized()
    {
        var clientId = Uri.EscapeDataString(Options.Value.ClientId);
        var redirectUri = Uri.EscapeDataString(Nav.BaseUri + "openid/callback");
        m_LoginUri = $"https://accounts.ayla.r-e.kr/authorize?client_id={clientId}&redirect_uri={redirectUri}&response_type=code&scope=all";
    }

    private void ShowPanel()
    {
        ++m_RequestId;
        m_ShowPanel = true;
        m_ShowPanelVisible = true;
    }

    private async void HidePanel()
    {
        var localId = ++m_RequestId;
        m_ShowPanelVisible = false;
        await Task.Delay(TimeSpan.FromSeconds(0.4));
        if (localId != m_RequestId)
        {
            return;
        }

        m_ShowPanel = false;
        StateHasChanged();
    }

    private void OnClick_Logout()
    {
        Nav.NavigateTo("/auth/logout", forceLoad: true);
    }
}